<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}">
    <head>
        <title th:text="#{email.resetpassword.title}">[JBeatnik] Reset password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.greeting} + ' ' + ${user.username}"></p>
        <p th:text="#{email.resetpassword.line1}"></p>
        <p>
            <a th:href="@{|${baseUrl}/#/resetpassword?email=${user.email}&amp;key=${user.resetPasswordKey}|}"
               th:text="|${baseUrl}/#/resetpassword?email=${user.email}&amp;key=${user.resetPasswordKey}|">Reset password link</a>
        </p>

        <p th:text="#{email.footer}"></p>

    </body>
</html>