
<form name="form" class="form-register" role="form" novalidate>

    <h2 class="form-register-heading">Registration</h2>

    <div class="alert alert-success" ng-show="success">
        Thank you for registering our service :)
    </div>

    <div class="alert alert-danger" ng-show="errorUsernameExist">
        <strong>Username already exist !</strong> Please choose another one.
    </div>

    <div class="alert alert-danger" ng-show="errorEmailExist">
        <strong>Email already exist !</strong> Did you <a href="#/lostpassword">Forgot your password ?</a>
    </div>

    <div class="alert alert-danger" ng-show="errorPasswordNotMatching">
        The password and its confirmation do not match !
    </div>

    <div class="alert alert-danger" ng-show="error">
        <strong>Registration failed!</strong> Please check your inputs and try again.
    </div>

    <div ng-show="!success">

        <div class="form-group" ng-class="{'has-error has-feedback':(form.username.$invalid || errorUsernameExist) && form.username.$dirty,
                                           'has-success has-feedback':form.username.$valid && form.username.$dirty}">
            <label class="control-label" for="username">Username</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="username" id="username" name="username" placeholder="Username" class="form-control"
                       ng-model="registerUser.username" ng-minlength=1 ng-maxlength=50 required autofocus>
            </div>
            <div ng-show="form.username.$dirty">
                <span ng-show="form.username.$valid && !errorUsernameExist" class="form-control-feedback glyphicon glyphicon-ok"></span>
                <span ng-show="form.username.$invalid || errorUsernameExist" class="form-control-feedback glyphicon glyphicon-remove"></span>
                <span ng-show="form.username.$error.required" class="help-block">An username is required</span>
                <span ng-show="form.username.$invalid" class="help-block">Username must be from 1 to 50 characters (Alphanumeric)</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error has-feedback':(form.email.$invalid || errorEmailExist) && form.email.$dirty,
                                           'has-success has-feedback':form.email.$valid && form.email.$dirty}">
            <label class="control-label" for="email">Email</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                <input type="email" id="email" name="email" placeholder="Email" class="form-control"
                       ng-model="registerUser.email" ng-minlength=1 ng-maxlength=50 required>
            </div>
            <div ng-show="form.email.$dirty">
                <span ng-show="form.email.$valid && !errorEmailExist" class="form-control-feedback glyphicon glyphicon-ok"></span>
                <span ng-show="form.email.$invalid || errorEmailExist" class="form-control-feedback glyphicon glyphicon-remove"></span>
                <span ng-show="form.email.$error.email" class="help-block">Your email is invalid</span>
                <span ng-show="form.email.$invalid" class="help-block">Email must be from 1 to 50 characters</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error has-feedback':form.password.$invalid && form.password.$dirty,
                                           'has-success has-feedback':form.password.$valid && form.password.$dirty}">
            <label class="control-label" for="password">Password</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i ng-show="form.password.$invalid" class="fa fa-unlock-alt"></i>
                    <i ng-show="form.password.$valid" class="fa fa-lock"></i>
                </div>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control"
                       ng-model="registerUser.password" ng-minlength=5 ng-maxlength=500 required>
            </div>
            <div ng-show="form.password.$dirty">
                <span ng-show="form.password.$valid" class="form-control-feedback glyphicon glyphicon-ok"></span>
                <span ng-show="form.password.$invalid" class="form-control-feedback glyphicon glyphicon-remove"></span>
                <span ng-show="form.password.$invalid" class="help-block">Password must be from 5 to 500 characters</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error has-feedback':(form.confirmpassword.$invalid && form.confirmpassword.$dirty) || confirmPassword !== registerUser.password,
                                           'has-success has-feedback':form.confirmpassword.$valid && form.confirmpassword.$dirty && confirmPassword == registerUser.password}">
            <label class="control-label" for="confirmPassword">Confirm password</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i ng-show="form.confirmpassword.$invalid" class="fa fa-unlock-alt"></i>
                    <i ng-show="form.confirmpassword.$valid" class="fa fa-lock"></i>
                </div>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" class="form-control"
                       ng-model="confirmPassword" ng-minlength=5 ng-maxlength=500 required>
            </div>
            <div ng-show="form.confirmpassword.$dirty">
                <span ng-show="confirmPassword == registerUser.password" class="form-control-feedback glyphicon glyphicon-ok"></span>
                <span ng-show="confirmPassword != registerUser.password" class="form-control-feedback glyphicon glyphicon-remove"></span>
                <span ng-show="confirmPassword != registerUser.password" class="help-block">Password and confirmation password must be identical</span>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" ng-click="register()" ng-disabled="form.$invalid" type="submit">Register</button>

    </div>

</form>