<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" ng-controller="ApplicationController" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" ng-controller="ApplicationController" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" ng-controller="ApplicationController" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" ng-controller="ApplicationController" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{infos.app.name}} - {{infos.app.description}}</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="favicon.ico">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="css/app.css">

        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand active" href="#">{{infos.app.name}}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">

                        <li><a is-active-nav href="#/home"><i class="fa fa-home"></i> Home</a></li>

                        <li><a is-active-nav href="#/about"><i class="fa fa-question-circle"></i> About</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="!isAuthenticated()"><a is-active-nav href="#/register"><i class="fa fa-edit"></i> Register</a></li>
                        <li ng-if="!isAuthenticated()" class="divider-vertical"></li>
                        <li ng-if="!isAuthenticated()" ng-controller="LoginController" class="dropdown navbar-right">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sign-in"></i> Log in <span class="caret"></span></a>
                            <div class="dropdown-menu" role="menu" style="min-width: 250px;">
                                <form class="form-login" role="form">
                                    <div class="alert alert-danger" ng-show="authenticationError">
                                        <strong>Authentication failed!</strong> Please try again.
                                    </div>
                                    <input type="username" class="form-control" placeholder="Username" ng-model="username" autofocus>
                                    <input type="password" class="form-control" placeholder="Password" ng-model="password">
                                    <div class="checkbox">
                                        <label>i
                                            <input type="checkbox" value="remember-me"> Remember me
                                        </label>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit">Log in</button>
                                    <div><a href="#/lostpassword">Forgot password ?</a></div>
                                </form>
                            </div>
                        </li>

                        <li ng-if="isAuthenticated()" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{session().username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/profile"><i class="fa fa-gears"></i> Profile</a></li>
                                <li class="divider"></li>
                                <li><a ng-click="logout()"><i class="fa fa-sign-out"></i> Log out</a></li>
                            </ul>
                        </li>

                        <li ng-if="isAuthorized(roles.admin)" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-institution"></i> Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#/configprops"><i class="fa fa-sliders"></i> Configuration</a></li>
                            </ul>
                        </li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">

            <div ng-view></div>

        </div>

        <div class="footer">
            <p class="text-muted"><i class="fa fa-bookmark"></i> {{infos.app.version}} - <i class="fa fa-code-fork"></i> {{infos.git.branch}} - <i class="fa fa-git-square"></i> {{infos.git.commit.id}} - <i class="fa fa-clock-o"></i> {{infos.git.commit.time}}</p>
        </div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="js/http-auth-interceptor.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/constants.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>

    </body>
</html>